NEON_DB_URL='postgresql://neondb_owner:npg_FcxDM1P5Cnqb@ep-lingering-truth-ah9oy56e-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
AUTH_SECRET=szbady9OOhRw4p7VNV0TctDJn3dYaIGL
AUTH_URL=http://localhost:3000